.container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    padding: 50px 20px;
    min-height: 100vh;
}

.head {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 70px;
}

.gh_block {
    width: 70px;
    height: 70px;

    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}


.main_block {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-top: 40px;
}

.left_part {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.w_note {
    font-weight: bold;
    font-size: 18px;
}

textarea {
    width: 90%;
    resize: none;
    height: 140px;
    padding: 8px;
    outline: 3px solid gray;
    font-size: 30px;
    border-radius: 20px;

    &:focus {
        bottom: none;
        outline: 3px solid gray;
    }
}

.button {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

.none{
    display: none;
}

.button_done.done{
    border: 3px solid green;
}

.button_theme {
    margin-top: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    padding-top: 5px;
    padding-left: 1px;
}

.right_part {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.note_title {
    font-weight: bold;
    font-size: 50px;
}

.no_notes {
    font-size: 18px;
}

/// note block


.note_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.note {
    display: flex;
    gap: 15px;
    align-items: center;
}


.button_done {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 3px solid red;
    border-radius: 10px;
    cursor: pointer;
}

.text_note {
    font-size: 22px;
    text-align: center;
    max-width: 600px;
    word-wrap: break-word;
}

.remove {
    border: 3px solid grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    padding-bottom: 2px;
}


@media screen and (max-width: 1530px) {
    .right_part {
        flex: 2;
    }
}

@media screen and (max-width: 1190px) {
    .text_note {
        max-width: 450px;
    }
}

@media screen and (max-width: 920px) {
    .main_block {
        flex-direction: column;
    }

    .left_part {
        flex: 1;
    }
    .note_block {
        align-items: flex-start;
    }

    .button {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .right_part {
        padding-top: 30px;
    }
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 60px;
    }

    .gh_block {
        width: 60px;
        height: 60px;

        img {
            width: 60px;
            height: 60px;
        }
    }

    .right_part {
        padding-top: 10px;
    }

    .text_note {
        max-width: 350px;
    }
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 50px;
    }

    .gh_block {
        width: 50px;
        height: 50px;

        img {
            width: 50px;
            height: 50px;
        }
    }

    .text_note {
        max-width: 300px;
    }

    .note_title {
        font-size: 45px;
    }
}

@media screen and (max-width: 500px) {
    .text_note {
        max-width: 250px;
    }

    .right_part {
        padding-top: 25px;
    }
}

@media screen and (max-width: 445px) {
    .text_note {
        max-width: 200px;
    }
}