*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.dark{
  color: white;
  background-color: black;
  transition-duration: .7s;
}

.white {
  color: black;
  background-color: white;
  transition-duration: .7s;
}